body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(215, 236, 255);
}

img {
  display: flex;
  width: 260px;
  margin: 0px;
  padding: 20px;
  /* border-radius: 5px; */
}

h2, p{
  margin: 0px;
  padding: 0px;
}


section{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.container{
  background-color: #fff;
  display: block;
  max-width: 300px;
  height: 480px;
 border-radius: 10px;
}

.qr img{
  border-radius: 30px;
}

.info{
  text-align: center;
  padding: 0px 20px;
}

.info h2{
  font-size: 1.30rem;
}

.info p{
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.footer a {
  color: hsl(228, 45%, 44%);
} 
